body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 40px;
}

h1{
    font-size: 37px;
   padding: 0;
   margin: 0;
}
h2{
    font-size: 40px;
    color: dodgerblue;
}
p{
    color: rgb(44, 35, 35);
}

.flexible-area{
    display: flex;
    margin-left: 70px;
}
.half-width{
    width: 50%;
    

}
.half-width img{
    width: 80%;
    padding-left: 100px;
}
.button-tag{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgb(70, 70, 226),rgb(37, 37, 128));
    padding: 10px 30px;
}
.border-area{
    border-left: 3px solid rgb(83, 83, 197);
  padding-left: 7px;
  font-family: none;
  border-radius: 3px;
}



span{
    color: rgb(107, 42, 192);
}
.added-margin{
    padding-left: 300px;
     margin-top: 100px;
}

.flex-area{
    display: flex;
    margin-left: 70px;
}
.one-third{
    width: 30%;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.one-third img{
    width: 40%;
   
}
#left-area{
   background-image: linear-gradient(rgb(236, 169, 236),rgb(236, 204, 236));
   padding-bottom: 50px;
   padding-left: 25px;
   padding-right: 25px;

}
#center-area{
    background-image:linear-gradient(rgb(168, 223, 217),rgb(198, 235, 230));
    padding-left: 25px;
   padding-right: 25px;
}
#right-area{
    background-image: linear-gradient(rgb(146, 230, 146),rgb(185, 233, 185));
    padding-left: 25px;
   padding-right: 25px;
}
.box-area{
     margin-left: -40px;

}

.third-flex{
    display: flex;
    padding-left: 70px;
    padding-top: 100px;
     
}

    

.background-img{
    background-image: url(images/shapes/shape-1.png);
    background-size: 150px;
   background-repeat: no-repeat;
   background-position: left;
   margin-left: -30px;
   margin-left: 50px;
}
.half-width3{
    width: 60%;
    margin-right: 35px;
   padding-top: 80px;
}
.half-width2{
    width: 40%;
}
.half-width2 img{
    width: 85%;
    
}
.third-flex2{
    display: flex;
    padding-left: 50px; 
}
.third-flex2 img{
    height: 500px;
}

    

.background-img2{
    background-image: url(images/shapes/shape-1.png);
    background-size: 150px;
   background-repeat: no-repeat;
   background-position: right bottom;
   padding-bottom: 50px;
   margin-left: 50px;

}
.footer-area{
   
  
    background-color: black;
    color: white;
}
.footer-area h3{
    padding-top: 15px;
    text-align: center;
    font-family:none;
    font-size: 30px;
}
.footer-area p{
    padding-bottom: 15px;
    color: white;
    font-family:none;
    text-align: center;
}
.footer-area span{
    color: rgb(92, 92, 226);
}