body{
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-top: 40px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
    color: dodgerblue;
}
p{
    color: rgb(44, 35, 35);
}

.flexible-area{
    display: flex;
}
.half-width{
    width: 50%;
    

}
.half-width img{
    width: 80%;
    padding-left: 100px;
}
.button-tag{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgb(70, 70, 226),rgb(37, 37, 128));
    padding: 10px 30px;
}
.border-area{
    border-left: 3px solid rgb(83, 83, 197);
  padding-left: 7px;
  font-family: none;
  border-radius: 3px;
}
span{
    color: rgb(107, 42, 192);
}
.added-margin{
    padding-left: 300px;
     margin-top: 100px;
}
.flex-area{
    display: flex;
}
.one-third{
    width: 30%;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 15px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.one-third img{
    width: 40%;
   
}
#left-area{
   background-image: linear-gradient(rgb(236, 169, 236),rgb(236, 204, 236));
   padding-bottom: 50px;

}
#center-area{
    background-image:linear-gradient(rgb(168, 223, 217),rgb(198, 235, 230));
}
#right-area{
    background-image: linear-gradient(rgb(146, 230, 146),rgb(185, 233, 185));
}